<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ネトフリクス-NETOFLIX</title>

    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon"/>
  </head>
  <body class="bg-dark">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand text-light fs-1 fw-bold" href="#">ネトフリクス-NETOFLIX</a>
        <h1 class="fw-semibold text-warning p-3">Filmes <s>Pirata</s> em Alta</h1>
      </div>
    </nav>
    
    <div class="row px-3" id="grid-filmes"></div>
    
    <div class="row px-3 py d-flex justify-content-center">
      <button class="btn btn-outline-light bg-primary mb-3" id="btnCarregarMaisFilmes">Carregar Mais Filmes</button>
    </div>

  </body>
</html>